*{
    margin: 0 40px;
    font-family: 'lato', sans-serif;
}

header{
    background-color: green;
    height: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: flex-start;
}

.logo  h1{
    margin-left: 1px;
    font-size: 40px;
    margin-top: 20px;
}

.logo img{
    margin-top: 20px;
}

.nav-link > ul {
    display: flex;
}

/*banner start*/

.banner{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.text{
    margin-top: 100px;
    margin-left: 0;
}

.text > h1{
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight:900;
    color: blue;
    
}

.p-1, .p-2, .p-3{
    margin-top: 10px;
}

button{
    margin-top: 20px;
}

.btn-sign{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: -20px;
}

.btn-go{
    background-color: skyblue;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
}


.banner-img{
    height: 400px;
    width: 400px;
    margin-left: 100px;
    margin-right: 0;
}

/*banner end*/

/* We are gamer start */

.we-are-gamer{
    display: flex;
    padding: 20px 0;
}

.we-text{
    width: 60%;
    text-align: end;
}

.we-text h1{
    color: blue;
    margin-bottom: 20px;
}

.we-text p{
    line-height: 20px;
}

.btn-k-m{
    margin-left: 200px;
    padding: 15px;
    background-color: blue;
    border-radius: 25px;
    border: none;
    color: white;
}

.our-pur{
    text-align: end;
}

.our-p{
    margin-left: 140px;
    margin-top: 20px;
}

/* We are gamer end */

/* Online Games Funny Videos start */

.online-games-funny-v{
    margin-top: 30px;
    margin-bottom: 30px;
}

.online-games-text{
    text-align: center;
    margin-bottom: 30px;
    margin-left: 150px;
}

.online-games-text h2{
    font-size: xx-large;
    margin-bottom: 10px;
}

.funny-videos{
    color: blue;
}

.online-games{
    margin-right: -40px;
}

.online-games-img{
    max-width: 1400px;
    display: flex;
    padding: 10px;
}

.online-games-img img{
    width: 200px;
    
}

/* Online Games Funny Videos end */

/* games-section */

.section{
    padding: 20px;
}

.games-section1{
    display: flex;
    width: 800px;
    padding: 0 30px;
    margin: 0 30px;
    margin-right: 30px;
}

.games-section1, img{
    width: 30px;
}

.games-section1, p{
    font-size: 10px;
    margin-left: -35px;
    margin-top: 5px;
}

.games-section1 div{
    display: flex;
    
}

.games-section1 div:hover{
    border: 1px solid black;
    border-radius: 40px;
    padding: 2px;
}

.games-section2{
    display: flex;
}

.games-section2 div{
    display: flex;
    margin-top: 30px;
    padding: 2px;
}

.games-section2 div:hover{
    border: 1px solid black;
    border-radius: 40px;
}